/* Variables */
:root {
    --text: #000;
    --title-size: 30px;
    --font: 'Louize';
    /* --cursor-fg: url('/images/res/cursor.png') 10 5, auto; */
    --cursor-fg: pointer;
  }

/* Fonts */
@font-face {
  font-family: 'Louize';
  src: url('fonts/Louize.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Body */
html body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Louize', normal;
  background-color: white;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin: 0;
}

/* Header */

.site-header {
  position: fixed;
  top: 15px;
  left: 0;
  width: 100vw;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background-color: none;
  border-bottom: 0;
  mix-blend-mode: exclusion;
}

.site-header .menu {
	display: inline;
	float: left;
	position: absolute;
	padding-left: 0px;
}

.site-header .menu > a {
	text-decoration: none;
	box-sizing: border-box;
	font-size: 18px;
	margin: 0;
	padding: 0;
	float: left;
	cursor: pointer;
	font-family: 'Louize', normal;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	color: white;
}

.site-header .menu > a:hover {
	color:grey;
}

.site-header .language-switcher {
	float: right;
	margin-right: 10px;
}

.site-header .language-switcher .menu-item.not-current a {
	text-decoration: none !important;
	padding-bottom: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-size: 18px;
	text-align: right;
	background-color: transparent;
	cursor: pointer;
	font-family: 'Louize', normal;
	color: white;
}

.site-header .language-switcher .menu-item.not-current a:hover {
	color:grey;
}

.site-header .language-switcher .menu-item.current a {
	text-decoration: none !important;
	padding-bottom: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-size: 18px;
	text-align: right;
	background-color: transparent;
	cursor: pointer;
	font-family: 'Louize', normal;
	color: white;
}

.site-header .language-switcher .menu-item.current a:hover {
	color:grey;
}

.site-header .language-switcher .menu-item.not-current {
	display: none
}

/* Home Page */

#content.site-content {
  min-height: 100vh;
  scroll-behavior: smooth;
  padding-left: 10px;
}

.homepage-cover {
  height: 100vh;
  width: calc(100% - 20px);
  overflow: hidden;
  scroll-behavior: smooth;
}

.logo {
  position: relative;
  overflow: hidden;
  top: 30px;
}

.logo video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 950px;
  top: 30px;
  z-index: -10;
}

.manifesto-container {
	height: 50vh;
	width: 70vw;
	position: absolute;
}

/*.intro {
	margin-left: calc(33% + 10px);
	font-size: 30px;
  line-height: 36px;
  cursor: pointer;
}

.intro p span {
	bottom: 10px;
	position: absolute;
	width: 60vw;
}*/

/* Container */

.container {
  width: calc(100% - 20px);
}

.section-title {
	font-size: var(--title-size);
	//*border-bottom: 1px solid black;
	border-top: 1px solid black;*//
	padding-top: 5px;
	height: 40px;
	margin: 0;
	padding-left: 0;
	top: 0;
	padding-top: 60px;
	background-color: white;
	position: sticky;
}

.section-title .column-1 {
	float: left;
	width: 33%;
	top: 40px;
	margin: 0;
	position: sticky;
}

.section-title .column-2 {
	float: left;
	width: 66%;
	padding-left: 10px;
	top: 0;
	margin: 0;
	position: sticky;
}

.section-title .column-1 p {
	height: auto;
	margin: 0;
}

.section-title .column-2 p {
	height: auto;
	margin: 0;
	font-feature-settings: 'lnum'!important;
}

.section-title-1 {
	font-size: var(--title-size);
	//*border-bottom: 1px solid black;
	border-top: 1px solid black;*//
	padding-top: 5px;
	height: 40px;
	margin: 0;
	margin-left: 33%;
	top: 0;
	padding-top: 60px;
	background-color: white;
	position: sticky;
}

.section-title-1 .column-3 {
	float: left;
	width: 66%;
	padding-left: 10px;
	top: 0;
	margin: 0;
	position: sticky;
}

.section-title-1 .column-3 p {
	height: auto;
	margin: 0;
	font-feature-settings: 'lnum'!important;
}

.container .events {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  line-height: 36px;
}

.single-event div {
  width: 100%;
  padding-right: 0;
  padding-top: 20px;
  padding-left: 12.5%;
  font-size: var(--title-size);
  height: auto;
  margin: 0;
  line-height: 70%;
}

.container .events .single-event .first-img {
  width: 30%;
  margin-left: 0;
  padding-right: 0;
  padding-top: 20px;
  padding-left: 10px;
  font-size: var(--title-size);
}

.container .events .single-event .distort-content {
  width: 27.5%;
  margin-left: 0;
  margin: 0;
  padding-left: 30px;
  z-index: -20;
}

.container .events .single-event .distort-content .dis-1 {
  transform: rotate(-4deg);
}

.container .events .single-event .distort-content .dis-2 {
  transform: rotate(10deg);
}

.container .events .single-event .distort-content img {
  border: .5px solid black;
}

.container .events .single-event p {
  height: auto;
  font-size: var(--title-size);
  margin: 0;
  width: 100%;
  margin-left: 0;
  padding-right: 0;
  font-size: var(--title-size);
  line-height: 120%;
}

.container .events .single-event {
  display: flex;
  margin-left: 0;
  padding-right: 0;
  padding-top: 20px;
  padding-left: 10px;
  font-size: var(--title-size);
}

.container .events .single-event-manifesto p {
	height: auto;
	font-size: var(--title-size);
	margin: 0;
	width: 65%;
  margin-left: 33%;
  padding-right: 0;
  padding-left: 10px;
  font-size: var(--title-size);
}

.container .events .single-event-manifesto {
  padding-top: 60px;
}

.container .events .single-event .event-info {
	color: gray;
}

.container .events .single-event img {
	width: 100%;
}

/* Footer */

.site-footer {
  background-color: transparent;
  color: #000;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 80px;
  position: relative;
}

.site-footer .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.site-footer .row p {
	height: auto;
	margin: 0;
}

.site-footer .row .footer-title {
	flex: 0 0 33%;
  max-width: 33%;
}

.site-footer .row .footer-info {
	flex: 0 0 35%;
  max-width: 35%;
  padding-left: 10px;
}

.site-footer .row .footer-social {
	flex: 0 0 20%;
  max-width: 20%;
}

.site-footer .row .footer-social a {
	display: block;
	text-decoration: none;
	color: black;
}

.site-footer .row .footer-lang {
	flex: 0 0 8%;
  max-width: 8%;
}

.site-footer .row .footer-lang a {
	display: block;
	text-decoration: none;
	color: black;
	margin-right: 0;
	text-align: right;
}

.homepage-video video {
	width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 2;
    position: fixed;
}

.video-click {
	-webkit-transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
  transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
}

#loadingScreen{
    position:fixed;
    top:0px;
    left:0px;
    margin: 0;
    width:100vw;
    max-width: 100%;
    height:100vh;
    color:black;
    z-index:10;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Louize';
    transition: top 300ms ease-in, opacity 300ms ease-in;
    /* transition-delay: 400ms; */
    cursor: pointer;
    z-index: 799;
}

b{
    font-weight: 600;
}

#loadingScreen .inner > * {
    /* display:none; */
    animation: loadIn 1s linear both;
    transition: transform 300ms ease-in, opacity 300ms;
}

#loadingScreen .date{
    font-family: "Louize";
    font-size: 14px;
    line-height: 50%;
    letter-spacing: 0.05em;
    margin-bottom:11px;
    font-feature-settings: 'lnum'!important;
    color: white;
    /* animation-delay: 100ms; */
}

#loadingScreen img{
 width: 200px;
 /* height: 63.22px; */
 /* height: 0px; */
 margin: 18px 0px 15px;
 /* animation: expandIn 300ms 3200ms linear both; */
}

#loadingScreen .subtitle{
    font-size: 14px;
    line-height: 200%;
    letter-spacing: -0.02em;
    animation-delay: 1500ms;
    transition-delay: 300ms;
    color: white;
}

#loadingScreen .subtitle span{
    font-family: 'Louize';
    font-style: italic;
    letter-spacing: -0.02em;
}

#ball {
  cursor: pointer;
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 799;
}

#second-ball {
  cursor: pointer;
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 799;
}

#third-ball {
  cursor: pointer;
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 799;
}
